<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OS_Keylogger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OS_Keylogger.Properties.Settings>
            <setting name="logDelimeter" serializeAs="String">
                <value />
            </setting>
            <setting name="textMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="logFile" serializeAs="String">
                <value />
            </setting>
            <setting name="capitalize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="hotkey" serializeAs="String">
                <value>27</value>
            </setting>
            <setting name="screenCap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="screenDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="screenInterval" serializeAs="String">
                <value>5</value>
            </setting>
        </OS_Keylogger.Properties.Settings>
    </userSettings>
</configuration>